* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* NAVIGATION */

nav {
    height: 10vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    line-height: 10vh;
    width: 100%;
    vertical-align: middle;
}

nav .title {
    width: 40%;
    text-align: left;
    padding-left: 3%;
}

nav .title a {
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-size: 2.2rem;
    color: #A41034;
}

nav .links {
    width: 60%;
    text-align: right;
    padding-right: 50px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

nav a {
    text-decoration: none;
    color: #A41034;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    margin: 20px;
}

nav .links a:hover {
    border-bottom: 2px solid #A41034;
}

/* MOBILE NAVIGATION */
.burger {
    height: 30px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    display: none;
    cursor: pointer;
    z-index: 15;
}

.active .one {
    transform: rotate(45deg) translateY(17px);
}
.active .two {
    opacity: 0;
}
.active .three {
    transform: rotate(-45deg) translateY(-17px);
}

.burger span {
    width: 100%;
    height: 6px;
    background-color: #A41034;
    transition: 0.5s all ease-out;
}

.mobilemenu {
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -100vh;
    transition: all 0.5s ease-out;
    text-align: center;
    padding-top: 5vh;
}

.mobilemenu .title a {
    font-family: 'Merriweather', serif;
    text-decoration: none;
    color: #A41034;
    font-size: 3rem;
}

.mobilemenu ul {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-around;
    font-size: 2.5rem;
}

.mobilemenu ul a {
    text-decoration: none;
    color: #A41034;
    font-family: 'Lato', sans-serif;
}

.mobilemenu.active {
    margin-top: 0;
}

/* LANDING PAGE */
.picbg {
    height: 90vh;
    width: 100%;
    background-image: url('https://t4.ftcdn.net/jpg/04/69/52/95/360_F_469529513_c1835B2j7cnxAM4mBJG7EibTf7mJQDa8.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.piclayover {
    position: absolute;
    top: 10vh;
    left: 0;
    height: 90vh;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}

.landingtext {
    position: absolute;
    top: 10vh;
    left: 0;
    height: 90vh;
    width: 100%;
    text-align: center;
    padding-top: 30vh;
    color: white;
    font-family: 'Lato', sans-serif;
}

.landingtext h1 {
    font-size: 3.5rem;
    margin-bottom: 5vh;
}

.landingtext a {
    width: 250px;
    height: 80px;
    padding: 20px 45px;
    background-color: #A41034;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
}

h1 {
    font-family: 'Merriweather', serif;
    margin: auto;
}

.about {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-wrap: wrap;
    scroll-margin-top: 75px;
    padding: 10px 65px;
}

.header {
    margin: 25px 0px 10px 65px;
    font-size: 2.1rem;
}

.about p {
    line-height: 35px;
    font-size: 1.1rem;
    padding: 15px 45px;
    width: 50%;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
    padding: 15px 95px;
}

.profiles div {
    width: 50%;
    height: 25vh;
    padding: 15px;
}

.profiles img {
    height: 100px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

.profiles h2 {
    margin-top: 20px;
    margin-bottom: 3px;
}

hr {
    width: 40%;
    border: 1px solid black;
    margin: 25px auto;
}


/* SCHOLARSHIPS */
.scholbody {
    background-color: rgb(233, 233, 233);
}

.filter {
    width: 15%;
    height: 100vh;
}

.scholarshipcontainer {
    width: 100%;
    background-color: rgb(246, 246, 246);
}

.tile {
    width: 95%;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 25px 25px 5px 25px;
    padding-right: 0px;
    position: relative;
    margin: 15px auto;
}

.info {
    width: 100%;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info p {
    font-family: 'Lato', sans-serif;
    line-height: 25px;
    letter-spacing: 0.5px;
    margin-top: 10px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
}

.tags h1 {
    font-size: 1.4rem;
}

a {
    color: #A41034;
    text-decoration: underline;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
}

.specifics {
    margin-top: 15px;
    width: 100%;
    display: flex;
}

.specifics div {
    display: flex;
    margin: 0px 20px 0px 0px;
}

.specifics h1 {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    margin: 2px;
}

.specifics h2 {
    font-size: 1rem;
    color: rgb(71, 71, 71);
    font-family: 'Oswald', sans-serif;
    margin: 2px;
}

.tags span {
    border-radius: 5px;
    padding: 10px;
    font-size: 0.8rem;
    margin-right: 8px;
    margin-bottom: 10px;
}

.money {
    background-color: rgb(121, 243, 121);
}

.time {
    background-color: rgb(255, 207, 117);
}
.type {
    background-color: rgb(168, 168, 255)
}
.ethnicity {
    background-color: rgb(255, 142, 142);
}

.filter {
    text-align: left;
    padding: 20px 10px;
}

.filter h1 {
    font-family: 'Oswald', sans-serif;
    margin: 0px auto;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 25px;
}

.filter h3 {
    font-family: 'Merriweather', serif;
    margin: 15px;
    font-size: 1.4rem;
    color: rgb(45, 45, 45);
}

.filter div {
    margin: 0 auto;
    text-align: left;
    line-height: 25px;
    margin-bottom: 40px;
    padding-left: 25px;
}

.filter label {
    margin: 8px;
    font-size: 1.1rem;
    font-family: 'Lato', sans-serif;
}

.extrainfo {
    padding: 0xp 0px 25px 25px;
    width: 30%;
    border-left: 1px solid gray;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.extrainfo h2 {
    font-family: 'Oswald', sans-serif;
}

.extrainfo ul {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
}

.extrainfo li {
    margin-top: 5%;
}

.deadline {
    width: 60%;
    background-color: rgb(204, 255, 204);
    font-family: 'Lato', sans-serif;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgb(0, 0, 0, 0.3);
    color: rgb(50, 50, 50);
    margin: 0 auto;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 1000px) {
    .tile {
        flex-direction: column;
    }
    .extrainfo {
        padding-top: 20px;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border: none;
        line-height: 25px;
        align-items: middle;
    }
    .extrainfo h2 {
        margin-right: 10px;
    }
    .extrainfo li {
        display: inline-block;
        margin-right: 15px;
        margin-top: 0;
    }
    .deadline {
        width: 30%;
        margin: 0px 15px;
    }
}

@media only screen and (max-width: 800px) {
    .burger {
        display: flex;
    }
    nav .links {
        display: none;
    }
    .landingtext {
        padding: 45px;
        padding-top: 20vh;
    }
    .header {
        text-align: center;
        margin: 15px 0px 0px 0px;
    }
    .about {
        padding: 25px;
    }
    .about p {
        padding: 0;
        width: 100%;
        margin-bottom: 10px;
    }
    .profiles div {
        width: 100%;
    }
} 

@media only screen and (min-width: 800px) {
    .mobilemenu {
        margin-top: -100vh;
    }
}